<?xml version="1.0"?>
<config>
  <modules>
    <Sparx_Buynow>
      <version>0.1.0</version>
    </Sparx_Buynow>
  </modules>
  <frontend>
    <routers>
      <buynow>
        <use>standard</use>
          <args>
            <module>Sparx_Buynow</module>
            <frontName>buynow</frontName>
          </args>
      </buynow>
    </routers>
		<layout>
		  <updates>
			<buynow>
			  <file>buynow.xml</file>
			</buynow>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <buynow>
        <class>Sparx_Buynow_Helper</class>
      </buynow>
    </helpers>
	<blocks>
	  <buynow>
		<class>Sparx_Buynow_Block</class>
	  </buynow>
	</blocks>
  </global>
</config> 