<?xml version="1.0"?>
<config>
  <modules>
    <Amazon_Amzpay>
      <version>0.1.4</version>
    </Amazon_Amzpay>
  </modules>
  <global>
    <template>
        <email>
            <payment_amzpay_retry_payment translate="label" module="amzpay">
                <label>Send Payment Decline Mail</label>
                <file>amzpay.html</file>
                <type>html</type>
            </payment_amzpay_retry_payment>
        </email>
    </template>
    <models>
      <amzpay>
        <class>Amazon_Amzpay_Model</class>
        <resourceModel>amzpay_mysql4</resourceModel>
      </amzpay>
      <amzpay_mysql4>
          <class>Amazon_Amzpay_Model_Mysql4</class>
          <entities>
              <orderhistory>
                  <table>amazon_orderhistory</table>
              </orderhistory>
          </entities>
      </amzpay_mysql4>
    </models>
    <helpers>
      <amzpay>
        <class>Amazon_Amzpay_Helper</class>
      </amzpay>
    </helpers>
    <blocks>
      <amzpay>
        <class>Amazon_Amzpay_Block</class>
      </amzpay>
    </blocks>
    <resources>
      <amzpay_setup>
        <setup>
          <module>Amazon_Amzpay</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </amzpay_setup>
      <amzpay_write>
        <connection>
          <use>core_write</use>
        </connection>
      </amzpay_write>
      <amzpay_read>
        <connection>
          <use>core_read</use>
        </connection>
      </amzpay_read>
    </resources>
    <events>
      <controller_action_predispatch>
        <observers>
          <controller_action_before>
            <class>Amazon_Amzpay_Model_Checkout</class>
            <method>backRedirection</method>
          </controller_action_before>
        </observers>
      </controller_action_predispatch>
      <controller_action_postdispatch_checkout_onepage_savePayment>
        <observers>
          <output_amzpay_redirect>
            <type>singleton</type>
            <class>Amazon_Amzpay_Model_Observer</class>
            <method>output_amzpay_redirect</method>
          </output_amzpay_redirect>
        </observers>
      </controller_action_postdispatch_checkout_onepage_savePayment>
    </events>
  </global>
  <crontab>
    <jobs>
      <amazon_api_call>
        <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
        <run><model>amzpay/observer::callAmzpayApi</model></run>
      </amazon_api_call>
    </jobs>
  </crontab>
  <frontend>
    <layout>
      <updates>
        <amzpay>
          <file>amzpay.xml</file>
        </amzpay>
      </updates>
    </layout>
    <routers>
      <amzpay>
        <use>standard</use>
          <args>
            <module>Amazon_Amzpay</module>
              <frontName>amzpay</frontName>
          </args>
      </amzpay>
    </routers>
    <secure_url>
        <amzpay_redirect>/amzpay/redirect/</amzpay_redirect>
    </secure_url>
  </frontend>
  <adminhtml>
      <events>
          <!-- <sales_order_creditmemo_save_after>
              <observers>
                  <amzpay_refund>
                      <type>model</type>
                      <class>Amazon_Amzpay_Model_Observer</class>
                      <method>sendRefund</method>
                  </amzpay_refund>
              </observers>
          </sales_order_creditmemo_save_after> -->
          <core_block_abstract_prepare_layout_before>
              <observers>
                  <orderstatus_core_block_abstract_prepare_layout_before>
                      <type>model</type>
                      <class>Amazon_Amzpay_Model_Observer</class>
                      <method>addOrderstatusAction</method>
                  </orderstatus_core_block_abstract_prepare_layout_before>
              </observers>
          </core_block_abstract_prepare_layout_before>
      </events>
  </adminhtml>   
  <admin>
  <routers>
    <amzpay>
      <use>admin</use>
      <args>
        <module>Amazon_Amzpay</module>
        <frontName>amzpay</frontName>
      </args>
    </amzpay>
  </routers>
  </admin>
  <default>
        <payment>
            <amzpay>
                <model>amzpay/checkout</model>
                <active>1</active>
                <title>Amazon Pay</title>
                <merchantId>Enter Your Merchant Id</merchantId>
                <accessKey>Enter Your Access Key</accessKey>
                <secretKey>Enter Your Secret Key</secretKey>
                <sort_order>0</sort_order>
            </amzpay>
        </payment>
    </default>
</config> 