<config>
    <modules>
        <Sparx_Customreport>
            <version>0.1.0</version>
        </Sparx_Customreport>
    </modules>
    <admin>
        <routers>
            <customreport>
                <use>admin</use>
                <args>
                    <module>Sparx_Customreport</module>
                    <frontName>reports</frontName>
                </args>
            </customreport>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <report>
                <children>
                    <customreport translate="title" module="customreport">
                        <title>Merchandising</title>
                        <action>customreport/adminhtml_customreport</action>
                    </customreport>
                </children>
            </report>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <report>
                            <children>
                                <customreport translate="title" module="customreport">
                                    <title>Custom Report</title>
                                    <action>customreport/adminhtml_customreport</action>
                                </customreport>
                            </children>
                        </report>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <customreport>
                    <file>customreport.xml</file>
                </customreport>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <customreport>
                <class>Sparx_Customreport_Model</class>
                <resourceModel>customreport_resource</resourceModel>
            </customreport>
        </models>
        <customreport_resource>
            <class>Sparx_Customreport_Model_Resource</class>
        </customreport_resource>
        <resources>
            <customreport_setup>
                <setup>
                    <module>Sparx_Customreport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customreport_setup>
            <customreport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customreport_write>
            <customreport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customreport_read>
        </resources>
        <blocks>
            <customreport>
                <class>Sparx_Customreport_Block</class>
            </customreport>
        </blocks>
        <helpers>
            <customreport>
                <class>Sparx_Customreport_Helper</class>
            </customreport>
        </helpers>
    </global>
</config>